;; shadow-cljs configuration
{:lein true
 :nrepl {:port 8701}

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules
   {:main {:init-fn frontend.app/init}}
   :devtools
   {:preloads [day8.re-frame-10x.preload]}
   :dev
   {:compiler-options
    {:closure-defines
     {"re-frame.trace.trace-enabled?"           true
      "re_frame.trace.trace_enabled_QMARK_"     true
      "day8.re-frame.tracing.trace-enabled?"    true}}}}}}
